################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.idea/
*.zip
.github/
.git/
.bundle
BaseLibrary/bin
BaseLibrary/obj
Client/bin
Client/obj
ClientLibrary/bin
ClientLibrary/obj
Server/bin
Server/obj
ServerLibrary/bin
ServerLibrary/obj